html {
    height: 100%;
    width: 100%;
  }
  
  
  h1 {
    text-decoration: underline;
    text-align: center;
    color: #b1dd8c;
  font-family: "gill sans", sans-serif;  
  }
  
  h2 {
    color: #fff76b;
    text-align: center;
  }
  
  ul {
    border: 5px solid gray;
    padding: 5px;
    margin: 5px;
    word-spacing: 10px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
    a {
      color: #ffffff;
    }
  
  
  li {
    display: inline;
     text-align:center;
  }
  
  p {
    width: 70%;
    background-color: #d6d6d6;
    color: #0056d6;
  }
  
  body {
    background-color: #aaaaaa;
  }
  
  nav {
    background-color: #12070c;
  }
  
  
  img { transition: all .2s ease-in-out; }
  img:hover { transform: scale(1.1); }
  
  
  img {
      width: 200px;
      height: 200px;
      display: inline-block;
  }